<%= render 'shared/sidebar' %>
<div class="all-without-sidebar">
  <div class="navnav">
    <%= render 'shared/navbar' %>
  </div>
  <div class="main-screen">
    <div class="presentation-line">
      <h1>My Dashboard</h1>
    </div>

    <div class="grid-container">

      <div id="calendar">
      <%= @google_events %>
        <%#= month_calendar do |date| %>
        <%#= date %>
        <%# end %>
    </div>
    </div>
  </div>

