  <!-- Right Navigation -->

  <div class="navbar-wagon">
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <% if user_signed_in? %>

      <!-- Links when logged in -->
      <div class="navleft"><p><%= link_to "Home", projects_path, class: "navbar-wagon-item navbar-wagon-link" %> / <%= link_to "My projects", projects_path, class: "navbar-wagon-item navbar-wagon-link" %></p></div>
      <div class="navright"><p><%= cl_image_tag "notification", height: 30, crop: :fill %></p></div>

    </div>

    <% end %>
  </div>
