<!-- Sidebar -->
  <div class="side_nav_bg">
    <div class="sidebar">
      <div class="sidebar-titles">
        <h3 class="logo_name">Filao</h3>
        <ul>
          <li>Dashboard</li>
          <li>Tasks</li>
          <li>Email</li>
          <li>Contacts</li>
          <li>Chat</li>
          <li>Deals</li>
          <li>Settings</li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-screen">
    <h1>All my projects</h1>

    <% @projects.each do |project| %>
      <%= project.name %>
    <% end %>

    <div class="toggle-sidebar">
      <p>Toggle sidebar</p>
    </div>
  </div>
