/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}

.alert-home{
  margin: 0;
  text-align: center;
  color: white;
  padding-left: 0px;
  background: $green;
}
// .alert-info {
//   background: $green;
// }
// .alert-warning {
//   background: $red;
// }

