.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner .title-home {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 150px;
  font-weight: bold;
  letter-spacing: 10px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner p {
    font-size: 23px;
    padding: 30px;
}

.icon {
  height: 200px;
}

#banner-typed-text {
  font-size: 25px;
}

.acontainer {
    padding-right: 160px;
    padding-left: 160px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
