.call-to-action {
  background: linear-gradient(180deg, #6143AB 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: white;
  border: none;
  margin: 10px;
  border-radius: 25px;
  padding: 10px 25px;
  text-decoration: none;
  &:hover {
    background-color: #05BD8D;
    color: white;
    border: none;
    text-decoration: none;
    opacity: 0.9;
  }
  & a {
    color: white;
  }
}

.call-to-action a {
 color: white;
 font-size: 16px;
}

.send-message-btn {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.07);
  color: #BC9CFF;
  border-radius: 22px;
}

.send-message-btn a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #BC9CFF;
  padding: 10px 20px;
  display: flex;
  border: solid 2px;
  border-radius: 22px;
}

