.card {
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(31, 32, 65, 0.08);
  border-radius: 9px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(31, 32, 65, 0.08);
  border-radius: 9px;
  position: relative;
  width: -webkit-fill-available;
  max-width: 500px;
  margin: 20px 0px;
  margin-bottom: 25px;
}

.card-desc {
  padding: 10px 0px;
}

.card a {
 color: white;
}

.inner-card {
  padding: 1px 30px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  display: inline-flex;
  justify-content: baseline;
  justify-content: start;
  align-items: end;
}

.card h3 {
  padding-left: 30px;
}

.card p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 14px;

  color: rgba(31, 32, 65, 0.75);
}

.card-first-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.card-icons p {
  color: grey;
  font-weight: 400;
  margin: 0 0 5px;
}

.card h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 19px;
  color: #1F2041;
    /* padding-top: 5px; */
    padding-bottom: 10px
  }

  .fa-pen:before {
    content: "\f304";
    padding: 0px 15px;
  }

  .card-category h4{
    width: min-content;
    height: 44.02px;
    left: 746.58px;
    justify-content: space-around;
    top: 253px;
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    display: flex;
    align-items: center;
    /* position: absolute; */
    left: 597px;
    padding: 0px 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .edit-card {
    color: lightgrey;
  }

