.dropzone {
    position: relative;
    border: 1px dashed #B2B2B2;
    height: 100px;
    width: 100%;
  &:after {
    display: block;
    content: "Drag and drop a file here";
    color: #B2B2B2;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding-top: 57px;
    cursor: pointer;
  }
}

form {
  padding: 0;
}

#photo-input {
  margin-bottom: 25px;
}

.zoom {
  padding: 0px;
  transition: transform .2s;
  width: 200px;
  // height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.8); /* IE 9 */
  -webkit-transform: scale(1.8); /* Safari 3-8 */
  transform: scale(1.8);
}
