.section-title {
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.icon-description {
  font-size: 18px;
  text-align: center;
}

.icon {
  text-align: center;
}

.container {
  margin-top: 20px;
  margin-bottom: 50px;
}

.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons-wrapper {
  background-color: white;
  padding: 0px 30px;
}
