h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 28px;
  color: #7379E3;
}

h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 20px;
  color: #666666;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 19px;

  color: #1F2041;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 12px;
}

.flex {
  display: flex;
}

.all {
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
