h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 28px;
  color: #7379E3;
}

h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 20px;
  padding: 10px 10px 0px 0px;
  color: #666666;
  display: flex;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 19px;
  color: #1F2041;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 12px;
}

#calendar {
  padding-right: 30px;
  padding-bottom: 50px;
}

.flex {
  display: flex;
}

.all {
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
}

.title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-right: 50px;
}

.tasks-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 35px;
}

.each-task {
  background: #FFFFFF;
  border-radius: 9px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.07);
  margin: 20px 10px;
  padding: 15px;
}

.title .fa-pen:before {
  content: "\f304";
  padding: 0px 0px;
  color: lightgrey;
  font-size: 18px;
  padding-left: 15px;
}

.edit-project {
  border: solid 2px white;
  padding: 5px 20px;
  border-radius: 20px;
  &:hover {
    background-color: white;
    color: #666666;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
}

.edit-project a {
  color: #666666;
  &:hover {
    text-decoration: none;
  }
}

.projects-list {
  padding-right: 30px;
  display: inline-grid;
  justify-content: flex-start;
}

.fa-plus:before, .fa-clock, .fa-tasks {
  content: "\f067";
  padding-right: 8px;
}

.fa-pen:before {
  content: "\f304";
  padding: 0px 15px;
  color: lightgrey;
}

input[type=file]{
  border-radius: 15px;
}
