h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 36px;

  color: #7379E3;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 12px;

  color: rgba(31, 32, 65, 0.75);
}

.flex {
  display: flex;
}

.all {
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}
