/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 55px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.navbar-wagon-home {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 55px;
  padding: 0px 15px;  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navleft, .navright {
  padding-top: 12px;
}

.navbar-wagon-home .call-to-action {
  background: linear-gradient(180deg, #6143AB 0%, #8BA4F9 100%);
  border-radius: 22px;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 25px;
  margin-bottom: 20px;
  text-decoration: none;
  transition: all ease-in-out 0.4s;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  background: white;
  justify-content: space-between;
  display: flex;
  width: 100vw;
  margin-left: 300px;
  align-items: center;
  height: 50px
}

.navbar-wagon-right-home {
  background: white;
  justify-content: space-between;
  display: flex;
  margin-left: 300px;
  align-items: center;
  padding-top: 12px;
  height: 50px;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}
