.tabs {
  display: flex;
  padding: 10px 10px 0 8px;
  margin-right: 40px;
  margin-top: 30px;
}

.tabs a {
  color: grey;
}

.tab:hover {
  cursor: pointer;
  text-decoration: none;
  background: #ffffff59;
}

.tabs h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #6FCF97;
}

.fa-ellipsis-v:before {
    content: "\f142";
    color: lightgrey;
}

.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: #ecf1fdb3;
    border-radius: 4px;
    flex: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-radius: 5px 5px 0 0;
    margin: 0px 1px;
}

.tab a {
  width: -webkit-fill-available;
  padding: 0 30px;
  font-size: 16px;
}

.tab.active {
  background: white;
}

.tab.active a {
  color: #7379E3;
  font-weight: bolder;
}

.tabs-content {
  width: auto;
  padding: 1px 10px;
  background: white;
  margin: 0px 9px;
  margin-right: 50px;
  border-radius: 0px 0px 8px 8px;
  // box-shadow: 0px 1px 5px rgba(105, 100, 118, 0.15);
}

.tabs-content h4 {
    font-size: 18px;
    margin-top: 36.5px;
    margin-left: 15px;
    margin-bottom: 32px;
    font-weight: 500px;
    color: #0000008f;
}

.tabs-content h5 {
    font-size: 16px;
}
